@using TacticView.Data
@using Humanizer
@using Octokit
@using System.Runtime.InteropServices
@using System.Reflection
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnv
@inject GitHubQueryService IssuesService
@inject AppInfo AppVersionInfo  

<footer class="page-footer mt-auto">
    <div class="container">
        <p class="text-muted">
            Created &amp; maintained by <a href="mailto:timheuer">Tim Heuer</a><br />
            GitHub API Limits: @GitHubQueryService.REQUESTS_LEFT/@GitHubQueryService.REQUESTS_PER_HOUR resetting @GitHubQueryService.LIMIT_RESET?.Humanize()<br />
            Running on @RuntimeInformation.FrameworkDescription on @RuntimeInformation.OSDescription in @WebHostEnv.EnvironmentName <br/>
            Deployed from commit <a href="https://github.com/timheuer/tacticview/commit/@AppVersionInfo.ShortGitHash">@AppVersionInfo.ShortGitHash</a>
        </p>
    </div>
</footer>

@code {
    RateLimit limits;
    string gitHash;

    protected override async Task OnInitializedAsync()
    {
        limits = await IssuesService.GetApiInfo();
    }
}
