@using TacticView.Data
@using Humanizer
@using Octokit
@using System.Runtime.InteropServices
@using System.Reflection
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnv
@inject GitHubQueryService IssuesService
@inject AppInfo AppVersionInfo
@inject IStringLocalizer<UIStrings> L

<footer class="page-footer mt-auto">
    <div style="font-size:.8em">
        <p class="text-muted">
            @L["CreationLabel"] <a href="mailto:timheuer">Tim Heuer</a><br />
            GitHub API Limits: @GitHubQueryService.REQUESTS_LEFT/@GitHubQueryService.REQUESTS_PER_HOUR resetting @GitHubQueryService.LIMIT_RESET?.Humanize()<br />
            Running on @RuntimeInformation.FrameworkDescription in @WebHostEnv.EnvironmentName <br />
            Host OS: @RuntimeInformation.OSDescription <br/>
            @L["DeployLabel"] <a href="https://github.com/timheuer/tacticview/commit/@AppVersionInfo.GitHash" target="_blank">@AppVersionInfo.ShortGitHash</a>
        </p>
    </div>
</footer>

@code {
    RateLimit limits;

    protected override async Task OnInitializedAsync()
    {
        limits = await IssuesService.GetApiInfo();
    }
}
