@inject GitHubQueryService IssuesService
@inject TacticView.Data.AppState AppState
@inject NotificationService NotificationService

@if (issues == null)
{
    <p><em>Searching the interwebs...</em></p>
    <RadzenProgressBar Mode="Radzen.ProgressBarMode.Indeterminate" ShowValue="false" Value="100" />
}
else
{
    <RadzenGrid Data="@issues" TItem="Issue" EmptyText="@Motivator.GetMotivator()" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive">
        <Columns>
            @if (AppState.IsLoggedIn && EnableApproval)
            {
                <RadzenGridColumn TItem="Issue" Width="35px">
                    <Template Context="data">
                        <a href="#" @onclick="@(()=>ApproveItem(data.Number))"><i class="fa fa-thumbs-up"></i></a>
                    </Template>
                </RadzenGridColumn>
            }
            <RadzenGridColumn Width="90px" TItem="Issue" Title="ID" SortProperty="Number">
                <Template Context="data">
                    <GitMergeVisual State="@(data.State.StringValue)" />
                    <a style="font-size:16px" target="_blank" href="@(data.PullRequest.HtmlUrl)">@(data.Number)</a>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Issue" Title="Title" FilterProperty="Title">
                <Template Context="data">
                    <a style="font-size:16px" target="_blank" href="@(data.PullRequest.HtmlUrl)">@(data.Title)</a>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Issue" Title="Labels">
                <Template Context="data">
                    @foreach (var label in data.Labels)
                    {
                        <span class="issue-label" style="color:@Colors.GetReadableForeColorAsString(label.Color);background-color:#@label.Color">@label.Name &nbsp;</span>
                    }
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Issue" Title="Created" Width="110px">
                <Template Context="data">
                    <span style="font-size:16px">@(data.CreatedAt.Humanize())</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Issue" Title="Milestone" Width="80px" FilterProperty="Milestone.Title">
                <Template Context="data">
                    <span style="font-size:16px">@(data.Milestone?.Title)</span>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}